#edit-submitcreate {
  display: none;
}

#pianoroll {
  height: 360px;
  overflow: auto; /* Se oculta el contenido desbordado y aparece un scroll */
}

.pintarSelected {
  color: green;
}

.borrarSelected {
  color: red;
}

#bar {
  width: 30%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally */
  line-height: 30px; /* To center it vertically */
  color: white;
}