#edit-submitcreate {
  display: none; /* Cuando cargamos el bloque ocultamos el botón Save Midi file */
}


#div-midi-overflow {
  height: 360px;
  overflow: auto; /* Se oculta el contenido desbordado y aparece un scroll */
}

/*
#teclado {
  background-color: red;
  width: 96px;
  height: 2112px;

}
*/

#pianoroll {

}

/*
#div-midi-clear {

}
*/

.pintarSelected {
  color: green;
}

.borrarSelected {
  color: red;
}

#bar {
  width: 30%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally */
  line-height: 30px; /* To center it vertically */
  color: white;
}