#edit-submitcreate {
  display: none; /* Cuando cargamos el bloque ocultamos el botón Save Midi file */
}


#div-midi-overflow {
  height: 360px;
  overflow-y: auto; /* Se oculta el contenido desbordado y aparece un scroll */
}

#teclado {
  background-color: red;
  position: relative;
  top: 10px;
  float: left;
  width: 15%;
}

#contiene-pianoroll {
  float: left;
  width: 85%;
}

#wrapper1, #wrapper2 {
  overflow-x: scroll;
}

#wrapper1 {
  height: 10px;
}

#wrapper2{

}

#topscroll-pianoroll {
  height: 10px;
}

#pianoroll {

}

#div-clear {
  clear: both;
}

.pintarSelected {
  color: green;
}

.borrarSelected {
  color: red;
}

#bar {
  width: 30%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally */
  line-height: 30px; /* To center it vertically */
  color: white;
}